$mainColor: #0E1E24; 
$secondColor: #f7fbfb;
$textColor: rgb(170, 170, 170);
$hoverColor:  rgba($color: #999, $alpha: .4);
$lightHoverColor:  rgba($color: #999, $alpha: .3);
$redColor: #dc3545;
$lightBorder: #e5e5e5; //#F3F6F7;

// color 
$warningColor: #ffc107;