<mat-sidenav-container [ngClass]="{'w-0': !expandNav}">
  <mat-sidenav mode="side" [(opened)]="expandNav" class="main-background">
    <div class="logo">
      <img class="img-fluid" src="assets/images/logo.png" alt="">
    </div>
    <hr>
    <ul class="sidebar-content ph-20">
      <li style="display: flex !important" class="control-item">

        <mat-expansion-panel class="w-100 d-inline-block">
          <mat-expansion-panel-header class="p-0" style="height: auto !important;">
            <a class="btn font-weight-bold">
              <i class="fas fa-home"></i>

              <span class="mh-10">
                الفئات
              </span>

            </a>
          </mat-expansion-panel-header>

          <ul *ngIf="categories">
            <li class="sub-menu">
              <a routerLink="/allcategories" routerLinkActive="active" (click)="activCatId=null"
                class="d-flex btn w-100 align-items-center">
                <!-- <i *ngIf="activCatId" class="fas fa-circle"></i> -->

                <span class="mh-10">All Categories</span>
              </a>
            </li>

            <li *ngFor="let cat of categories" class="sub-menu">
              <a [routerLink]="'/category/' + cat.id" routerLinkActive="active"
                class="d-flex btn w-100 align-items-center">
                <i *ngIf="activCatId === cat.id" class="fas fa-circle"></i>

                <span class="mh-10">{{cat.name}} </span>
              </a>
            </li>
          </ul>
        </mat-expansion-panel>
      </li>

      <li class="control-item">
        <a routerLink="/vendors" routerLinkActive="active" class="d-flex btn w-100 align-items-center">
          <i class="fas fa-home"></i>

          <span class="mh-10">البائعون</span>
        </a>
      </li>

      <li class="control-item">
        <a routerLink="/add-product" routerLinkActive="active" class="d-flex btn w-100 align-items-center">
          <i class="fas fa-home"></i>

          <span class="mh-10">add Product</span>
        </a>
      </li>

      <li class="control-item">
        <a routerLink="/review-product" routerLinkActive="active" class="d-flex btn w-100 align-items-center">
          <i class="fas fa-home"></i>

          <span class="mh-10">Review Products</span>
        </a>
      </li>

    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="p-50" [ngClass]="{'toggle': !expandNav}">
  </mat-sidenav-content>
</mat-sidenav-container>