<div class="main-wrapper ph-90 pv-30" >
    <div class="warn d-flex justify-content-center second-admin-color">
        <div class="">
            <i class="fas fa-exclamation "></i>
        </div>
    </div>
    
    <h3 class="mb-20" mat-dialog-title> احترس! </h3>
    
  
    
    <mat-dialog-actions>
        <button class="delete-btn ml-10 confirm btn" mat-dialog-close="yes"> تأكيد </button>

        <button class="btn btn-warning"  mat-dialog-close="no"> رجوع</button>
    
    </mat-dialog-actions>    
</div>